body {
    font-family: Arial, sans-serif;
}

.menu ul {
    list-style-type: none;
    margin: 0;
}

.menu > ul > li {
    background-color: #2c3e50;
    color: white;
    width: 200px;
    padding: 10px 15px;
    cursor: pointer;
    position: relative;
}

.dropdown {
    display: none; 
    position: absolute;
    left: 0;
    top: 100%;
    background-color: #34495e;
    width: 100%;
}

.menu > ul > li:hover .dropdown {
    display: block;
}

.dropdown li {
    padding: 10px 15px;
    border-top: 1px solid #2c3e50;
    font-size: 14px;
    color: #ecf0f1;
}

.dropdown li:hover {
    background-color: #1abc9c;
}