body {
  padding-top: 70px;
  background-color: #f5f7fb;
}

.section-padding {
  padding: 100px 0;
}

.box-card {
  background: white;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

.profile-img {
  width: 150px;
  height: 150px;
  border-radius: 10%;
  object-fit: cover;
  margin-bottom: 20px;
}
